@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
body{
  font-family: 'Audiowide', cursive;
  background-color: #E0C6FF;
  color: #443B4E;
  margin: 0;
  padding: 0;
}
main{
  display: flex;
  justify-content: center;
  gap: 16px;
}
.container{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.grid{
  background-color: white;
  display: grid;
  height: 75vw;
  width: 75vw;
  max-width: 500px;
  max-height: 500px;
}